%h1 List of tasks:

- @tasks.each do |task|
  %h3= "Title:    #{task.title}"
  %p=  "From:     #{User.get(task.user_id).username}"
  %p=  "Body:     #{task.body}"
  %p=  "Priority: #{task.priority}"
  %p=  "Read:     #{task.read}"
  %a{href: url("/tasks/#{task.id}")}        show
  %a{href: url("/tasks/new")}               new
  %a{href: url("/tasks/delete/#{task.id}")} delete
  %br
  %br
